.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.title {
  font-size: 96px;
  font-weight: 400;
}
.subtitle {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  width: min-content;
}
@media (max-width: 768px) {
  .header {
    justify-content: center;
  }
}
