.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px 15px 49px;
  font-size: 96px;
  font-weight: 400;
  text-transform: capitalize;
  height: 30%;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
@media (max-width: 768px) {
  .footer {
    height: 60%;
  }
}
