@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Kreon';
  src: url('./assets/fonts/Kreon-Regular.ttf') format('truetype'),
    url('./assets/fonts/Kreon-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kreon';
  src: url('./assets/fonts/Kreon-Regular.ttf') format('truetype'),
    url('./assets/fonts/Kreon-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

* {
  color: #000;
  box-sizing: border-box;
}
body {
  font-family: 'Kreon', sans-serif;
  margin: 0;
}
